/* 
01--> Header menu section.
02--> Home slider section.
03--> about us section .
04--> Stones We Deal In section .
05--> why us section  .
06--> The Journey of Your Countertop section.
07--> Our Products section.
08--> latest news section.
09--> footer section.

13--> mobile responsive design from 320 to max....
*/

/* all page comon fonts  */

/* lato Fonts  */
@font-face {
	font-family: "LatoLight";
	src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "LatoRegular";
	src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "LatoMedium";
	src: url("../fonts/Lato/Lato-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "LatoBold";
	src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
	font-weight: 700;
}

body {
	background-color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 100%;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
}

/* 01--> Header menu section.
--------------------------------
*/
#header-slider-area {
	position: relative;
}
.header-shap img {
	position: absolute;
	top: 0;
	left: 0;
	width: 7%;
}
.header-overlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 38%;
	height: 100%;
	background-color: #f4f4f4;
}
button.navbar-toggler:focus {
	outline: 0;
}
#header-menu ul li a {
	font-family: "LatoMedium";
	font-size: 20px;
	color: #303030;
	text-transform: capitalize;
	padding: 0px 40px;
}
#header-menu ul li a:hover {
	text-decoration: none;
}
#header-menu ul li:last-child a {
	padding-right: 0px;
}

/* 02--> Home slider section. 
-----------------------------
*/
#home-slider {
	padding: 30px 0px 100px;
}
.slider {
	position: relative;
}

.slider-text h2 {
	color: #4d4d4d;
	font-size: 37px;
	font-family: "LatoLight";
}
.slider-text h1 {
	color: #000000;
	font-size: 74px;
	font-family: "LatoLight";
	margin-top: 15px;
}

.defult-btn {
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	background-color: #252525;
	display: inline-block;
	font-family: "LatoLight";
	margin-bottom: 30px;
}
.defult-btn:hover {
	text-decoration: none;
	color: #fff;
}
.slider-btn {
	margin-top: 45px;
	border-radius: 10px;
	padding: 22px 35px;
}

.slider-image img {
	border-radius: 27px;
}
.slider .owl-dots {
	display: flex;
	position: absolute;
	top: 50%;
	flex-direction: column;
	left: 2%;
	transform: translate(50%, -50%);
}

.slider .owl-dots button.owl-dot {
	width: 3px;
	height: 25px;
	background-color: #cccccc;
	margin: 10px 0px;
	border-radius: 3px;
}
.slider .owl-dots button.owl-dot.active {
	background-color: #464646;
	height: 50px;
}
.slider .owl-nav {
	position: absolute;
	right: 25%;
	bottom: -50px;
	transform: translate(50%, 0px);
}
.slider .owl-nav button {
	margin: 0px 30px;
}
.slider .owl-nav button:focus {
	outline: 0;
}

.slider .owl-nav button i.fa-long-arrow-left {
	margin-right: 1rem;
}
.slider .owl-nav button i.fa-long-arrow-right {
	margin-left: 1rem;
}
.slider .owl-nav button span {
	text-transform: capitalize;
	font-family: "LatoRegular";
	color: #080808;
	font-size: 22px;
}

/* 03--> about us section .
--------------------------------
*/
#about-us {
	padding: 100px 0px;
	background-color: #fff;
	position: relative;
}
.about-us-bg {
	position: absolute;
	top: 0;
	left: 0;
}
.about-us-bg img {
	width: 50%;
}
.about-us-contents h1 {
	font-family: "LatoRegular";
	font-size: 36px;
	color: #000000;
	position: relative;
	margin-bottom: 60px;
}
.about-us-contents h1::before {
	position: absolute;
	content: "";
	bottom: -25px;
	left: 0;
	width: 75px;
	height: 1px;
	background-color: #a58774;
}
.about-us-contents p {
	color: #6a6a6a;
	font-size: 16px;
	font-family: "LatoLight";
	line-height: 24px;
	margin-bottom: 15px;
}

.about-btn {
	padding: 22px 60px;
	margin-top: 35px;
}

/* 04--> Stones We Deal In section .
---------------------------------------
*/
#deal-section {
	position: relative;
	width: 100%;
	height: 100%;
}
#deal-section .container {
	position: relative;
	z-index: 4;
}
.deal-section-overlay::before {
	position: absolute;
	content: "";
	background-color: #f4f4f4;
	width: 95%;
	height: 300px;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 15px;
	z-index: 2;
}
.deal-shap-left {
	position: absolute;
	top: -50px;
	left: 0;
	z-index: 1;
}
.deal-shap-right {
	position: absolute;
	top: -70px;
	right: 0;
	z-index: 3;
	width: 7%;
}
.section-title {
	padding: 100px 0px 60px 0px;
}
.section-title h1 {
	color: #000000;
	font-size: 30px;
	font-family: "LatoRegular";
	text-transform: capitalize;
	position: relative;
}
.section-title h1::before {
	position: absolute;
	content: "";
	bottom: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #a58774;
	width: 73px;
	height: 1px;
}
.deal-single-item {
	padding: 15px 0px;
}
.deal-single-item h1 {
	font-family: "LatoLight";
	font-size: 18px;
	color: #000000;
	margin: 25px 0px;
	text-transform: uppercase;
}
.deal-single-item p {
	font-family: "LatoLight";
	font-size: 14px;
	color: #5d5d5d;
	line-height: 24px;
}

/* 05--> why us section  . 
-----------------------------------
*/

#why-us-section {
	padding-bottom: 100px;
}
.why-us-single-content {
	padding: 15px 30px;
}
.why-us-single-content img {
	padding-top: 50px;
}
.why-us-single-content h1 {
	font-family: "LatoRegular";
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 25px;
}
.why-us-single-content p {
	font-family: "LatoLight";
	font-size: 14px;
	color: #5d5d5d;
	line-height: 24px;
}
/* 06--> The Journey of Your Countertop section.
-----------------------------------------------------
*/
#Journey-section {
	/* background-color: #f4f4f4; */
	padding-bottom: 60px;
	position: relative;
}

.journey-shap {
	position: absolute;
	right: 15px;
	bottom: -47px;
	z-index: -1;
}
.journey-overlay::before {
	position: absolute;
	content: "";
	background-color: #f4f4f4;
	width: 90%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 15px;
}
#myTab {
	margin-bottom: 50px;
}
.journey-single-item-wrapper h1 {
	font-family: "LatoRegular";
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
	margin-top: 15px;
}
.journey-single-item-img {
	background-color: #fff;
	display: block;
	padding: 45px;
	margin: 15px 20px;
	border-radius: 15px;
}

.tab-pane hr {
	color: #ebebeb;
	margin: 0px;
}
#myTabContent {
	padding: 0px 15px;
}
#myTabContent .tab-pane h1 {
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 24px;
	font-family: "LatoRegular";
	text-transform: uppercase;
	color: #000000;
}
#myTabContent .tab-pane p {
	font-family: "LatoLight";
	color: #5d5d5d;
	font-size: 14px;
	line-height: 24px;
}

/* 07--> Our Products section. 
-------------------------------------
*/

.product-filter-menu {
	margin-top: 30px;
	margin-bottom: 45px;
}
.product-filter-menu button {
	border: 1px solid #e1e1e1;
	padding: 15px 35px;
	text-transform: capitalize;
	color: #000000;
	font-size: 16px;
	font-family: "LatoRegular";
	background-color: transparent;
	margin: 0px 10px;
	outline: 0;
	border-radius: 15px;
}
button.mixitup-control-active {
	background-color: #ebebeb;
}

.products .mix {
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
}

.product-description {
	position: absolute;
	visibility: hidden;
	transition: 0.3s all ease-in;
}
.products .mix:hover .product-description {
	visibility: visible;
	position: relative;
	width: 100%;
	height: auto;
	transition: 0.3s all ease-in;
	padding-top: 15px;
}
.product-description p {
	font-family: "LatoLight";
	color: #5d5d5d;
	font-size: 14px;
	line-height: 24px;
}
/* 08--> latest news section. 
--------------------------------
*/
#latest-news-section {
	padding-bottom: 70px;
	position: relative;
}

.latest-news-shap-1 img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0%, -50%);
	width: 6%;
}
.latest-news-bg {
	position: relative;
}
.latest-news-shap {
	position: relative;
}
.latest-news-shap img {
	position: absolute;
	top: -20px;
	left: -45px;
}
.news-single-item {
	padding-top: 15px;
	padding-bottom: 15px;
}
.news-single-item img {
	border-radius: 10px;
}
.news-single-item h2 {
	margin-bottom: 26px;
	margin-top: 36px;
	font-size: 16px;
	font-family: "LatoRegular";
	text-transform: uppercase;
	color: #000000;
}
.news-single-item p {
	font-size: 14px;
	font-family: "LatoLight";
	color: #5d5d5d;
	line-height: 24px;
}
.news-btn {
	padding: 16px 43px;
	margin-top: 30px;
}

/* 09--> footer section. 
---------------------------------
*/

.footer-bg {
	background-image: url(../img/footer/footerimg.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: cover;
	width: 100%;
	height: 100%;
}
#footer-section {
	color: #fff;
	padding-top: 60px;
}
#footer-section hr {
	border: 1px solid #555555;
	margin: 0;
}

.footer-title h1 {
	font-size: 20px;
	text-transform: capitalize;
	font-family: "LatoRegular";
	color: #fff;
}

.footer-contents-area {
	padding-bottom: 75px;
}
.single-footer-column {
	margin: 15px 0px;
}
.phone p,
.email p,
.website p,
.quick-links li a,
.address-time p,
.address span p,
.copy-write-text p {
	color: #b1b1b1;
	font-family: "latoRegular";
}

.phone.d-flex.align-items-center,
.email.d-flex.align-items-center,
.website.d-flex.align-items-center {
	padding: 15px 0px;
}
.phone.d-flex.align-items-center img,
.email.d-flex.align-items-center img,
.website.d-flex.align-items-center img {
	margin-right: 15px;
	width: 21px;
	color: #fff;
}
.phone.d-flex.align-items-center img svg {
	color: #fff;
}
.svg-phome {
	fill: #ffffff;
}
ul.quick-links li a {
	display: block;
	padding: 15px 0px;
	font-family: "latoRegular";
}
ul.quick-links li a:hover {
	text-decoration: none;
}

.footer-btn a {
	text-transform: capitalize;
	font-size: 16px;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 22px;
	display: inline-block;
	font-family: "latoRegular";
}

.footer-social-icons {
	padding: 15px 0px;
}
.footer-social-icons span {
	padding: 0px 15px;
}
.footer-social-icons span a img.facebook {
	width: 25px;
}
.footer-social-icons span a img.twitter {
	width: 25px;
}
.footer-social-icons span a img {
}
.footer-social-icons span:first-child {
	padding-left: 0px;
}
.footer-social-icons span i.fa {
	color: #fff;
}

.address-time.d-flex.align-items-center,
.address.d-flex.align-items-center {
	padding: 15px 0px;
}
.address-time.d-flex.align-items-center p,
.address.d-flex.align-items-center p {
	font-size: 14px;
	line-height: 24px;
	font-family: "latoRegular";
	color: #b1b1b1;
}
.address-time.d-flex.align-items-center img,
.address.d-flex.align-items-center img {
	padding-right: 15px;
	width: 35px;
}
.copy-write-text {
	padding: 30px 0px;
}
.copy-write-text p {
	font-size: 14px;
	font-family: "latoRegular";
}

.footer-content.footer-form input,
.footer-content.footer-form textarea {
	padding: 13px 21px;
	border-radius: 0;
}
.footer-content.footer-form input:focus,
.footer-content.footer-form textarea:focus {
	color: #838383;
	background-color: #fff;
	border-color: transparent;
	outline: 0;
	box-shadow: 0 0 0 0 transparent;
}

::-webkit-input-placeholder {
	/* Edge */
	color: #838383;
	text-transform: capitalize;
	font-size: 14px;
	font-family: "latoRegular";
}

:-ms-input-placeholder {
	/* Internet Explorer */
	color: #838383;
	text-transform: capitalize;
	font-size: 14px;
	font-family: "latoRegular";
}

::placeholder {
	color: #838383;
	text-transform: capitalize;
	font-size: 14px;
	font-family: "latoRegular";
}
.submit-btn {
	font-family: "LatoBold";
	font-size: 18px;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 58px;
	background-color: transparent;
}
/* footer 
-------------
*/

/* 13--> mobile responsive design from 320 to max....
=======================================================*/

@media screen and (min-width: 320px) {
	.slider-text h2 {
		font-size: 20px;
	}
	.slider-text h1 {
		font-size: 42px;
	}
	.slider .owl-stage-outer {
		margin-bottom: 25px;
	}
	.slider .owl-nav button {
		margin: 0px 6px;
	}
	.slider .owl-nav button i.fa-long-arrow-left {
		margin-right: 0.3rem;
	}
	.slider .owl-nav button i.fa-long-arrow-right {
		margin-left: 0.3rem;
	}
	.footer-title {
		margin-bottom: 30px;
	}
}
@media screen and (min-width: 360px) {
}
@media screen and (min-width: 370px) {
}
@media screen and (max-width: 369px) {
}
@media screen and (min-width: 430px) {
}
@media screen and (min-width: 480px) {
}
@media screen and (max-width: 456px) {
	.product-filter-menu button {
		padding: 15px 17px;
		margin: 0px 5px;
	}
}
@media screen and (min-width: 530px) {
}
@media screen and (max-width: 529px) {
}
@media screen and (min-width: 576px) {
	.slider-text h2 {
		font-size: 18px;
	}
	.slider-text h1 {
		font-size: 30px;
	}
	.slider .owl-nav button {
		margin: 0px 30px;
	}
	.slider .owl-nav button i.fa-long-arrow-left {
		margin-right: 1rem;
	}
	.slider .owl-nav button i.fa-long-arrow-right {
		margin-left: 1rem;
	}
}
@media screen and (max-width: 575px) {
	.slider .owl-dots {
		display: none;
	}
	.slider .owl-nav {
		transform: translate(50%);
		right: 50%;
		/* display: inline-block; */
	}
	.header-overlay {
		display: none;
	}
}
@media screen and (min-width: 600px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
	.journey-single-item-img {
		padding: 28px;
	}
}
@media screen and (min-width: 960px) {
}
@media screen and (min-width: 992px) {
	.journey-single-item-img {
		padding: 45px;
	}
	.phone p,
	.email p,
	.website p,
	.quick-links li a,
	.address-time p,
	.address span p,
	.copy-write-text p {
		font-size: 13px;
	}
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1171px) {
}
@media screen and (min-width: 1200px) {
	.slider-text h2 {
		font-size: 37px;
	}
	.slider-text h1 {
		font-size: 74px;
	}
	.journey-single-item-img {
		margin: 15px 30px;
	}
	.footer-title {
		margin-bottom: 65px;
	}
	.phone p,
	.email p,
	.website p,
	.quick-links li a,
	.address-time p,
	.address span p,
	.copy-write-text p {
		font-size: 16px;
	}
}
