/* 
01--> menu section  start.
02--> hero section design.
03--> service section start.
04--> accountant_portfolio section section design.
05--> testimonial section  section design
06--> payroll section design.
07--> trusted area desing.
08-->  let's talk section  section.
09--> latest news section  section area.
10--> footer section section area.
11--> _new_arival__area section area.
12--> _testimonials__area section area.
13--> _gifts__area section area.
14--> _footer__area section area.
10--> mobile responsive design from 320 to max....
*/

/* all page comon fonts  */

/* PT Serif
----------------
*/

@font-face {
	font-family: "PTSerif-Regular";
	src: url("../fonts/PTSerif-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "PTSerif-Bold";
	src: url("../fonts/PTSerif-Bold.ttf") format("truetype");
	font-weight: 700;
}
html,
body {
	background-color: #fff;
}
body,
html,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "PT Serif", serif;
	margin: 0;
	padding: 0;
}
button:focus,
a:focus {
	outline: none !important;
}
/* 01--> menu section  start. 
------------------------------------
*/
#menu_section {
	position: relative;
}
.header_bg {
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(../img/header/header-bg.png);
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	width: 100%;
}

.main_menu li:last-child a {
	padding-right: 0px;
}
.main_menu li a {
	font-family: "PTSerif-Regular";
	font-size: 20px;
	padding: 0px 25px;
	color: #2d2d2d;
}
.main_menu li a:focus {
	outline: 0;
}
.main_menu li a:hover {
	text-decoration: none;
}

/* 02--> hero section design.  */

#hero_section {
	padding-top: 76px;
	padding-bottom: 50px;
}

.hero_text__wrapper p {
	color: #2d2d2d;
	font-family: "PTSerif-Regular";
}

.hero_text__wrapper h1 {
	color: #2d2d2d;
	font-family: "PTSerif-Regular";
}
.hero_text__wrapper a:focus {
	outline: none;
}
.hero_text__wrapper a:hover {
	text-decoration: none;
	color: #040404;
}
.hero_text__wrapper a.hero_btn {
	color: #040404;
	background-color: #eeba55;
	font-family: "PTSerif-Bold";
	padding: 25px 60px;
	border-radius: 40px;
	font-family: "PTSerif-Regular";
	font-size: 20px;
}
/* 03--> service section start. 
---------------------------------
*/
#service_section {
	position: relative;
	padding: 50px 0px;
}
.service_bg img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.single_service_item {
	background-color: #fff;
	padding: 15px 0px;
}
.single_service_item:hover {
	box-shadow: 1px 40px 50px 0px #ebebeb;
	border-radius: 30px;
}

.single_service__wrapper img {
	margin-bottom: 50px;
}
.single_service__wrapper h2 {
	font-size: 24px;
	color: #000;
	margin-bottom: 30px;
	font-family: "PTSerif-Bold";
}
.single_service__wrapper p {
	color: #525252;
	font-size: 16px;
	margin-bottom: 40px;
	line-height: 24px;
	font-family: "PTSerif-Regular";
}
.single_service__wrapper a.service__btn:hover {
	text-decoration: none;
	color: #000000;
}
.single_service__wrapper a.service__btn {
	color: #000;
	font-size: 18px;
	text-transform: capitalize;
	border-bottom: 2px solid #a3a3a3;
	font-family: "PTSerif-Regular";
}

/* 04--> accountant_portfolio section section design. 

*/
#accountant_portfolio_section {
	padding: 50px 0px;
}
section#accountant_portfolio_section h1 {
	color: #2d2d2d;
	font-size: 48px;
	margin-bottom: 40px;
	font-family: "PTSerif-Regular";
}

section#accountant_portfolio_section p {
	font-size: 18px;
	color: #353535;
	line-height: 30px;
	margin-bottom: 15px;
	font-family: "PTSerif-Regular";
}

.accountant_options_wrapper {
	margin-bottom: 50px;
}
.accountant_options_col-01 {
	margin-right: 25px;
}
.accountant_options_wrapper ul li a:hover {
	text-decoration: none;
}
.accountant_options_wrapper ul li a {
	font-size: 16px;
	color: #000;
	font-family: "PTSerif-Regular";
}

.accountant_options_wrapper ul li {
	display: block;
	padding: 20px 0px;
}
.accountant_options_wrapper ul li img {
	margin-right: 15px;
}
.call_to_us h4 {
	color: #353535;
	font-size: 24px;
	font-family: "PTSerif-Regular";
}

.signature_row img {
	margin-right: 15px;
}

.signature_name h2 {
	color: #2d2d2d;
	font-size: 30px;
	font-family: "PTSerif-Regular";
	text-transform: capitalize;
	margin-bottom: 15px;
}
.signature_name p {
	font-size: 18px;
	color: #2d2d2d;
	font-family: "PTSerif-Regular";
	text-transform: capitalize;
}

/* 05--> testimonial section  section design 
----------------------------------------------
*/
#testimonial_section {
	padding: 160px 0px;
}
.testimonial_section_bg {
	background-image: url("../img/testimonial/testimonial-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;
	background-color: #fff;
}

.single_testimonial img {
	width: 115px !important;
	height: 115px;
	border-radius: 50%;
	margin-right: 50px;
}

.testimonial_text p {
	color: #353535;
	font-size: 18px;
	line-height: 30px;
	font-family: "PTSerif-Regular";
	margin-bottom: 35px;
}
.testimonial_text h2 {
	color: #353535;
	font-size: 30px;
	font-family: "PTSerif-Regular";
}
/* .06--> payroll section design. 
------------------------------------
*/
#payroll_section {
	padding: 50px 0px;
	background-color: #fff;
}

.payroll_title h2 {
	color: #2d2d2d;

	font-family: "PTSerif-Regular";
	margin-bottom: 50px;
}

.payroll_items ul li {
	display: block;
}
.payroll_items ul li img {
	margin-right: 30px;
}
.payroll_items ul li a:hover {
	color: #353535;
	text-decoration: none;
}
.payroll_items ul li a {
	color: #353535;

	font-family: "PTSerif-Regular";
	line-height: 40px;
}

.payroll_btn:focus {
	outline: none;
}
.payroll_btn:hover {
	text-decoration: none;
	color: #040404;
}
.payroll_btn {
	color: #040404;
	background-color: #eeba55;

	border-radius: 40px;
	font-family: "PTSerif-Regular";
	display: inline-block;
	font-size: 20px;
	text-transform: capitalize;
	margin-top: 25px;
}

/* 07--> trusted area desing. 

*/
#trusted_section {
	padding: 150px 0px;
}
.truste_bg {
	background-color: #fff;
	background-image: url("../img/trusted/trusted-bg-img-2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	height: 100%;
}
.trusted_section_title {
	margin-bottom: 35px;
}
.trusted_section_title h2 {
	color: #2d2d2d;

	text-transform: capitalize;
	font-family: "PTSerif-Regular";
}

/* 08-->  let's talk section  section. 
  */

#call_to_us_section {
	padding: 20px 0px 50px 0px;
}

.call_to_us h2 {
	color: #2d2d2d;
	font-size: 48px;
	text-transform: capitalize;
	font-family: "PTSerif-Regular";
	margin-bottom: 50px;
}
.call_to_us p {
	color: #2d2d2d;
	font-family: "PTSerif-Regular";
	font-size: 28px;
	line-height: 24px;
	margin-bottom: 50px;
	line-height: 40px;
}
.call_to_us a {
	color: #040404;
	font-size: 20px;
	font-family: "PTSerif-Bold";
	padding: 25px 64px;
	background-color: #eeba55;
	display: inline-block;
	border-radius: 40px;
}
.call_to_us a:hover {
	text-decoration: none;
}
.call_to_us a:focus {
	outline: none;
}

/* .09--> latest news section  section area. 

*/
#latest_news_section {
	background-color: #fff;
	padding: 50px 0px;
}
.latest_news_title {
	margin-bottom: 50px;
}
.latest_news_title h2 {
	color: #2d2d2d;
	font-size: 48px;
	font-family: "PTSerif-Regular";
	text-transform: capitalize;
}
.single_news {
	padding: 15px 0px;
}
.single_news img {
	width: 100%;
	height: auto;
}
.single_news h2 {
	font-family: "PTSerif-Regular";
	font-size: 24px;
	color: #161616;
	line-height: 30px;
	margin-top: 35px;
	margin-bottom: 30px;
}
.single_news p {
	font-family: "PTSerif-Regular";
	line-height: 24px;
	color: #161616;
	font-size: 16px;
}
/* 10--> footer section section area. 

*/
.footer_section_wrapper {
	position: relative;
}
#footer_section {
	padding: 133px 0px;
	width: 95%;
	margin: 0 auto;
	border-radius: 30px;
	background-color: #f7f7f7;
}
.f_bg_icon_01 img {
	position: absolute;
	left: 0;
	top: 10%;
	width: 6%;
}
.f_bg_icon_02 img {
	position: absolute;
	right: 0;
	top: 20%;
}
.f_bg_icon_03 img {
	position: absolute;
	top: -20px;
	right: 20%;
}
.footer_text_bg {
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../img/footer/footer-about-bgt.png");
	box-shadow: 1px 40px 50px 0px #ebebeb;
	border-radius: 30px;
}

.footer_text {
	padding: 50px 30px;
	color: #fff;
}
.footer_text h2 {
	color: #fff;
	font-size: 36px;
	font-family: "PTSerif-Bold";
}
.hr_spacer {
	border-bottom: 1px solid #fff;
}
.footer_text p {
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	font-family: "PTSerif-Regular";
}

.footer_single_column ul li {
	display: block;
}
.footer_single_column ul li a:hover {
	color: #000000;
	text-decoration: none;
}
.footer_single_column ul li a {
	color: #000000;
	font-size: 16px;
	line-height: 20px;
	padding: 19px 0px;
	display: block;
}
.footer_single_column h2 {
	color: #161616;
	font-size: 24px;
	text-transform: capitalize;
	font-family: "PTSerif-Bold";
	margin-bottom: 35px;
}

.footer_list span {
	padding: 19px 0px;
}
.footer_list img {
	margin-right: 15px;
}
.footer_list a:hover {
	text-decoration: none;
	color: #000000;
}
.footer_list a {
	color: #000000;
	font-size: 16px;
	line-height: 20px;
}
.footer_social_icon {
	margin-top: 30px;
}
.footer_social_icon span:first-child {
	margin-left: 0px;
}
.footer_social_icon span {
	margin: 0px 18px;
}
.footer_social_icon span a i.fa {
	font-size: 18px;
	width: 30px;
	height: 30px;
	background-color: #636363;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	border-radius: 10px;
}
.footer_social_icon span a i.fa:hover {
	color: #ffffff;
	background-color: #d91f30;
	border-radius: 50%;
}
.input-group-text i.fa {
	cursor: pointer;
}
#basic_icon.input-group-text:hover {
	background-color: #d91f30 !important;
	color: #ffffff;
}
#basic_icon.input-group-text {
	padding: 0.3rem 0.75rem !important;
	/* border-radius: 10px !important; */
}

.footer_bottom {
	background-color: #e1e1e1;
	padding: 0px 0px;
	width: 95%;
	margin: 0 auto;
	border-radius: 30px;
}
.footer_band {
	position: relative;
}

.footer_band span img {
	position: relative;
	top: -34px;
}
.footer_band span:first-child {
	margin-left: 0 !important;
}
.footer_band span:last-child {
	margin-right: 0 !important;
}
/* mobile responsive design (10)

================================================================================================*/

@media screen and (min-width: 320px) {
	.logo {
		width: 75%;
	}
	.hero_text__wrapper p {
		font-size: 14px;
		line-height: 20px;
	}
	.hero_text__wrapper h1 {
		font-size: 26px;
		margin-bottom: 70px;
	}
	.hero_text__wrapper a.hero_btn {
		padding: 15px 30px;
	}
	.single_service__wrapper {
		padding: 30px 30px 30px 30px;
	}
	.payroll_title h2 {
		font-size: 34px;
	}
	.payroll_items ul li a {
		font-size: 14px;
		line-height: 25px;
	}
	.payroll_btn {
		padding: 15px 23px;
	}
	.payroll_items ul li {
		padding: 10px 0px;
	}
	.trusted_section_title h2 {
		font-size: 25px;
	}
	.footer_band span {
		margin: 0px 22px 25px 22px;
	}
}

@media screen and (min-width: 480px) {
	.logo {
		width: 70%;
	}
	.hero_text__wrapper p {
		font-size: 23px;
	}
	.hero_text__wrapper h1 {
		font-size: 38px;
	}
}
@media screen and (min-width: 576px) {
	.hero_text__wrapper p {
		font-size: 30px;
		line-height: 30px;
	}
	.hero_text__wrapper h1 {
		font-size: 45px;
	}
	.hero_text__wrapper a.hero_btn {
		padding: 15px 18px;
	}
	.single_service__wrapper {
		padding: 60px 20px 60px 60px;
	}
	.payroll_title h2 {
		font-size: 48px;
	}
	.payroll_items ul li a {
		font-size: 30px;
	}
	.payroll_btn {
		padding: 25px 60px;
	}
	.payroll_items ul li {
		padding: 30px 0px;
	}
	.trusted_section_title h2 {
		font-size: 36px;
	}
	.footer_band span {
		margin: 0px 25px 25px 25px;
	}
}

@media screen and (min-width: 768px) {
	.logo {
		width: 30%;
	}
	.main_menu li a {
		font-size: 14px;
		padding: 0px 13px;
	}
	.hero_text__wrapper p {
		font-size: 25px;
		margin-bottom: 45px;
	}
	.hero_text__wrapper h1 {
		font-size: 45px;
		margin-bottom: 70px;
	}
	.single_service__wrapper {
		padding: 15px 15px 15px 15px;
	}
	.payroll_title h2 {
		font-size: 48px;
	}
	.payroll_items ul li a {
		font-size: 30px;
		line-height: 40px;
	}
	.payroll_btn {
		padding: 25px 60px;
	}
	.payroll_items ul li {
		padding: 30px 0px;
	}
	.trusted_section_title h2 {
		font-size: 36px;
	}
	.footer_social_icon span {
		margin: 0px 10px;
	}
}

@media screen and (min-width: 960px) {
}
@media screen and (min-width: 992px) {
	.main_menu li a {
		font-size: 18px;
		padding: 0px 18px;
	}
	.hero_text__wrapper a.hero_btn {
		padding: 25px 60px;
	}
	.single_service__wrapper {
		padding: 60px 20px 60px 60px;
	}
	.payroll_title h2 {
		font-size: 48px;
	}
	.payroll_items ul li a {
		font-size: 30px;
	}
	.payroll_btn {
		padding: 25px 60px;
	}
	.payroll_items ul li {
		padding: 30px 0px;
	}
	.trusted_section_title h2 {
		font-size: 36px;
	}
	.footer_social_icon span {
		margin: 0px 18px;
	}
}
@media screen and (min-width: 1170px) {
	.single_service__wrapper {
		padding: 60px 20px 60px 60px;
	}
	.payroll_title h2 {
		font-size: 48px;
	}
	.payroll_items ul li a {
		font-size: 30px;
	}
	.payroll_btn {
		padding: 25px 60px;
	}
	.payroll_items ul li {
		padding: 30px 0px;
	}
	.trusted_section_title h2 {
		font-size: 36px;
	}
}
@media screen and (min-width: 1200px) {
	.main_menu li a {
		font-size: 20px;
		padding: 0px 25px;
	}
	.hero_text__wrapper p {
		font-size: 28px;
		margin-bottom: 45px;
	}
	.hero_text__wrapper h1 {
		font-size: 46px;
		margin-bottom: 70px;
	}
	.single_service__wrapper {
		padding: 60px 20px 60px 60px;
	}
	.payroll_title h2 {
		font-size: 48px;
	}
	.payroll_items ul li a {
		font-size: 30px;
	}
	.payroll_btn {
		padding: 25px 60px;
	}
	.payroll_items ul li {
		padding: 30px 0px;
	}
	.trusted_section_title h2 {
		font-size: 36px;
	}
}
