/* 
01--> header  start.
02--> feature area design.
03--> catagories section  start.
04--> about us area design.
05--> feature area design
06--> testimonials area design.
07--> why us area  desing.
08--> blog area section.
09--> footer area.
10--> footer section section area.
11--> _new_arival__area section area.
12--> _testimonials__area section area.
13--> _gifts__area section area.
14--> _footer__area section area.
10--> mobile responsive design from 320 to max....
*/

/* all page comon fonts  */

/* PT Serif
----------------
*/

/* @font-face {
	font-family: "PTSerif-Regular";
	src: url("../fonts/PTSerif-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "PTSerif-Bold";
	src: url("../fonts/PTSerif-Bold.ttf") format("truetype");
	font-weight: 700;
} */
html,
body {
	background-color: #fff;
	line-height: 1.5 !important;
	font-family: "Montserrat", sans-serif;
	/* font-family: 'Raleway', sans-serif; */
}
body,
html,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
button:focus,
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
}
/* 01--> header  start. 
---------------------------
*/
#header-wrapper {
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: url("../img/header-bg/header-bg-img.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: cover;
}
.navbar {
	padding: 80px 0px 60px 0px;
}

.navbar ul li a {
	font-family: "Raleway", sans-serif;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0px 35px !important;
	display: inline-block;
}

.slider-content {
	font-family: "Raleway", sans-serif;
}
.slider-content h1 {
	color: #000000;
	font-weight: 400;
}
.slider-content h1 strong {
	font-weight: 600;
}

.slider-image img {
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
}
.home-slider {
	padding-top: 30px;
	padding-bottom: 100px;
	position: relative;
}
.home-slider .owl-dots {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(200%, -50%);
}
.home-slider .owl-nav {
	position: absolute;
	transform: translate(50%, 5%);
	bottom: -6%;
}
.home-slider .owl-nav button:first-child {
	margin-left: 0;
}
.home-slider .owl-nav button:last-child {
	margin-right: 0;
}
.home-slider .owl-nav button span i {
	margin: 5px 10px 0px 10px;
	font-size: 18px;
}
.home-slider .owl-nav button {
	margin-right: 20px;
	margin-left: 20px;
	align-items: center;
}

.home-slider .owl-nav .owl-prev .previous-btn {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
}
.home-slider .owl-nav .owl-next .next-btn {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
}

.home-slider .owl-dots .owl-dot.active {
	background-color: #1430ed;
}
.home-slider .owl-dots .owl-dot {
	width: 9px;
	height: 9px;
	background-color: #cccccc;
	margin: 10px 0px;
	display: flex;
	flex-direction: column;
	border-radius: 50%;
}

#home-form {
	position: relative;
}
.slider-form .form-control:focus {
	box-shadow: 0 0 0 0 transparent !important;
	outline: none;
}
.slider-form .form-control:last-child {
	margin-right: 0px;
}
.slider-form .form-control:first-child {
	padding-left: 0;
	margin-left: 0;
}
.slider-form .form-control {
	border: 0px;
	padding-right: 10px;
	margin-right: 30px;
	display: inline-block;
	color: #000000;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
}
.slider-form {
	z-index: 9;
	position: absolute;
	top: 70%;
	left: 0;
	transform: translate(0%, -50%);
}
.slider-form .form-group {
	background-color: #fff;
	box-shadow: 6px 6px 9px 0px #f2f2f2;
	padding: 10px 30px 5px 0px;
	border-bottom-right-radius: 20px;
	margin-bottom: 50px;
}

.appoint-btn {
	background-color: #f16321;
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 30px;
}
.appoint-btn:hover {
	color: #fff;
	text-decoration: none;
}

/* 02--> feature area design. 
-----------------------------
*/
#feature-area {
	padding: 50px 0px;
	background-color: #fff;
}
.single-feature {
	padding: 25px;
	cursor: pointer;
}
.single-feature:hover {
	transition: 0.3s;
	box-shadow: 10px 20px 30px 10px #f4f4f4;
	border-radius: 25px;
}
.single-feature img {
	margin-bottom: 30px;
}
.single-feature h2 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
}
.single-feature p {
	color: #494949;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 30px;
	display: inline-block;
}

/* 03--> catagories section  start. 

*/

.catagori-wrapper {
	position: relative;
	padding: 50px 0px;
}
.catagori-wrapper .section-bg img {
	position: absolute;
	top: 33%;
	left: 0;
	transform: translate(-55%, -50%);
}
.catagori-wrapper::before {
	position: absolute;
	content: "";
	background-color: #f16321;
	width: 95%;
	height: 73%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 25px;
}

.section-title h1 {
	color: #ffffff;
	text-align: center;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 36px;
	margin-bottom: 50px;
}
#catagori_tab {
	margin-bottom: 65px;
	border-bottom: 0 solid transparent;
}
#catagoriTabContent {
	padding-right: 00px;
}

#catagori_tab li a {
	margin: 0px 15px;
	border: 1px solid transparent;
	border-radius: 25px;
}
#catagori_tab li a:hover {
	border: 1px solid #ffffff;
}
#catagori_tab li a.active {
	background-color: transparent;
	border: 1px solid #ffffff;
	border-radius: 25px;
}

#catagori_tab li a h1 {
	color: #ffffff;
	font-weight: 600;
}
#catagori_tab li a h5 {
	font-weight: 400;
	color: #ffffff;
}

.single-catagories {
	box-shadow: 0px 9px 11px 3px #adadad33;
	position: relative;
	margin-bottom: 50px;
	margin-top: 15px;
	padding-left: 15px;
	background-color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
}

.catagori-img {
	position: relative;
}
.catagori-img img {
	height: auto;
	position: relative;
	margin-left: 20px;
	padding-bottom: 15px;
}
.catagori-content {
	padding-right: 25px;
	padding-left: 15px;
	padding-top: 10px;
}
.catagori-slider .owl-item {
	padding-right: 25px;
}
.catagori-content p {
	color: #282828;
	font-size: 10px;
	font-weight: 400;
}
.catagori-content h1 {
	font-size: 16px;
	color: #282828;
	font-weight: 400;
	margin-bottom: 15px;
}
.catagori-content span {
	color: #000000;
	font-size: 10px;
	font-weight: 400;
	margin-right: 20px;
}
.catagori-content span img {
	width: 25px !important;
	display: inline-block !important;
	margin-right: 5px;
}
.location {
	margin-top: 15px;
	margin-bottom: 15px;
}
.location p {
	font-size: 10px;
	color: #000000;
	font-weight: 600;
}
.location span i {
	font-size: 18px;
}

.catagori-slider .owl-nav button {
	border: 1px solid #ffffff !important;
	color: #fff !important;
	font-size: 19px;
	height: 40px;
	left: -60px;
	line-height: 35px;
	margin-top: -20px;
	opacity: 0.8;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 40px;
	border-radius: 10px;
}
.catagori-slider .owl-nav button.owl-next {
	left: auto;
	right: -60px;
}
/* 04--> about us area design. 
------------------------------------
*/
#about-us {
	background-color: #fff;
	padding: 50px 0px;
	position: relative;
}

.about-us-contents h1 {
	font-weight: 600;
	font-size: 36px;
	color: #000000;
	margin-bottom: 35px;
	position: relative;
}
.about-us-contents h1::before {
	position: absolute;
	content: "";
	background-color: #f16321;
	width: 100px;
	height: 1px;
	bottom: 12px;
	left: 0;
}
.about-us-contents p {
	font-size: 14px;
	color: #494949;
	font-weight: 400;
	margin-bottom: 15px;
}
.about-us-contents a {
	color: #383838;
	font-weight: 400;
	text-decoration: underline;
}
.about-us-contents {
	position: relative;
	z-index: 2;
}
.backdround-text {
	bottom: -66px;
	right: 0;
	position: absolute;
	z-index: -1;
	display: block;
	min-height: 50%;
	min-width: 50%;
}
.backdround-text p {
	color: #d3d3d342;
	font-size: 120px;
	text-transform: uppercase;
}

/* 05--> feature area design 
----------------------------
*/

.feature-wrapper {
	position: relative;
	padding: 50px 0px;
}
.feature-wrapper::before {
	position: absolute;
	content: "";
	background-color: #f16321;
	width: 95%;
	height: 73%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 25px;
}
.feature-title {
	padding-bottom: 65px;
}
.feature-title h1 {
	color: #ffffff;
	font-size: 36px;
	font-weight: 600;
}

/* 06--> testimonials area design. 

*/
#testimonial {
	background-color: #fff;
	padding: 50px 0px 100px 0px;
	position: relative;
}

.section-bg img {
	position: absolute;
	top: 0;
	left: 4%;
}

.testimonial-slider {
	margin-top: 40px;
	background-color: #fff;
	border-bottom-left-radius: 30px;
}
.slingle-items {
	padding: 30px 50px;
	position: relative;
	z-index: 200;
}
.slingle-items img {
	width: 100px !important;
	height: 100px !important;
	border-radius: 50%;
	margin-bottom: 30px;
}
.slingle-items h1 {
	color: #0c3f65;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 30px;
}
.slingle-items p {
	color: #000000;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
}
.slingle-items p.location {
	color: #676767;
	font-size: 16px;
	font-style: italic;
	font-weight: 600;
}

.quotation-img-bg {
	position: absolute;
	top: 50%;
	right: 0;
	font-size: 200px;
	z-index: 10;
	transform: translate(-50%, -50%);
}

.quotation-img-bg span i.fa {
	color: #ededed6e;
}

/* 07--> why us area  desing. 
----------------------------
*/

#why-us {
	background-color: #fff;
	padding: 50px 0px;
}

.why-us-erapper h1 {
	font-size: 36px;
	text-transform: capitalize;
	font-weight: 600;
	color: #000;
	margin-bottom: 30px;
	position: relative;
}
.why-us-erapper h1::before {
	position: absolute;
	content: "";
	bottom: 12px;
	left: 0;
	background-color: #f16321;
	width: 85px;
	height: 1px;
}
.why-us-content {
	margin-bottom: 30px;
}
.why-us-content p {
	font-size: 18px;
	color: #000000;
	font-weight: 400;
}
.why-us-content p strong {
	font-weight: 600;
	margin-bottom: 15px;
	display: block;
}
.why-us-single-item {
	padding: 15px 0px;
}
.why-icon {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50%;
	background-color: #fff;
	box-shadow: 0px 0px 6px 3px #0000001c;
	margin-right: 15px;
	border-radius: 5px;
}
.why-icon img {
	width: 100%;
	height: 100%;
}
.why-text p {
	color: #000000;
	font-size: 18px;
	font-weight: 400;
}

.contact-form .form-control {
	border-radius: 30px;
	border: 1px solid #f16321;
	padding-left: 40px;
}
.contact-form .form-control:focus {
	box-shadow: 0 0 0 0 transparent;
}
.contact-form h1 {
	color: #000000;
	font-size: 24px;
	text-transform: capitalize;
	font-weight: 500;
	margin-bottom: 30px;
}
::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #999999;
	font-size: 14px;
	font-weight: 400;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #999999;
	font-size: 14px;
	font-weight: 400;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #999999;
	font-size: 14px;
	font-weight: 400;
}
button[type="submit"] {
	background-color: #f16321;
	color: #ffffff;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 600;
	border: none;
	padding: 15px 60px;
	border-radius: 30px;
}

/* 08--> blog area section. 
--------------------------
*/

#blog-area {
	background-color: #ffffff;
	padding-top: 50px;
	padding-bottom: 100px;
}
.blog-title {
	margin-bottom: 45px;
}
.blog-title h1 {
	color: #000000;
	font-weight: 600;
	font-size: 36px;
	text-transform: capitalize;
	position: relative;
}
.blog-title h1::before {
	position: absolute;
	content: "";
	width: 85px;
	height: 1px;
	background-color: #f16321;
	left: 0;
	bottom: 12px;
}

.single-blog-items img {
	margin-bottom: 25px;
}
.single-blog-items p {
	color: #3b3b3b;
	font-size: 18px;
	font-weight: 400;
}
.single-blog-items p span {
	margin-right: 20px;
}
.single-blog-items p span i.fa {
	margin-right: 7px;
}

.blog-content h1 {
	font-size: 24px;
	color: #000000;
	font-weight: 600;
	margin: 15px 0px;
}
.blog-content p {
	font-weight: 400;
	font-size: 14px;
	color: #414141;
}
.blog-content a {
	text-decoration: underline;
	color: #4f4f4f;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
	display: block;
	margin-top: 20px;
}
/* .09--> footer area.
-----------------------------------
*/

#footer {
	background-color: #f7f7f7;
	padding-top: 100px;
	padding-bottom: 30px;
}

.footer-title {
	font-size: 24px;
	color: #181818;
	font-weight: 600;
	margin-bottom: 30px;
}

.single-footer {
	padding: 18px 0px;
}
.single-footer img {
	width: 80px;
	height: 70px;
	border-radius: 15px;
	margin-right: 20px;
}
.single-footer span i.fa {
	margin-right: 20px;
	font-size: 30px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #f16321;
}
.single-footer span h1 {
	color: #181818;
	font-size: 16px;
	font-weight: 600;
}
.single-footer span p {
	color: #181818;
	font-size: 16px;
	font-weight: 400;
}
.single-footer input.form-control {
	border-radius: 30px;
	border: 0px;
	padding-left: 40px;
}
.single-footer input.form-control:focus {
	box-shadow: 0 0 0 0 transparent;
}
.single-footer input {
	margin-bottom: 30px;
}
.footer-bottom {
	padding-top: 50px;
}

/* mobile responsive design (10)

================================================================================================*/

@media screen and (min-width: 320px) {
	.slider-content {
		padding-top: 15px;
	}
	.slider-content h1 {
		font-size: 14px;
	}
	.home-slider .owl-nav {
		right: 41%;
		width: 80%;
		bottom: -30px;
	}
	.catagori-slider .owl-nav button {
		display: none;
	}
	#catagori_tab li a {
		padding: 15px 10px;
	}
	#catagori_tab li a h5 {
		font-size: 12px;
	}
	#catagori_tab li a h1 {
		font-size: 15px;
	}
	.about-us-contents a {
		font-size: 14px;
	}
	.testimonial-slider {
		margin-left: 0px;
	}
	.why-icon img {
		padding: 5px;
	}
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 576px) {
	.slider-content {
		padding-top: 46px;
	}
	.slider-content h1 {
		font-size: 22px;
	}
	.home-slider .owl-nav {
		right: 25%;
		width: 44%;
	}
}

@media screen and (min-width: 768px) {
	.slider-content {
		padding-top: 25px;
	}
	.slider-content h1 {
		font-size: 32px;
	}
	.home-slider .owl-nav {
		right: 25%;
		width: 37%;
	}
	#catagori_tab li a {
		padding: 15px 50px;
	}
	#catagori_tab li a h1 {
		font-size: 27px;
	}
	#catagori_tab li a h5 {
		font-size: 17px;
	}
	.about-us-contents a {
		font-size: 18px;
	}
	.testimonial-slider {
		margin-left: -75px;
	}
	.why-icon img {
		padding: 13px;
	}
}

@media screen and (min-width: 960px) {
}
@media screen and (min-width: 992px) {
	.slider-content h1 {
		font-size: 48px;
	}
	.home-slider .owl-nav {
		right: 25%;
		width: 26%;
	}
	.catagori-slider .owl-nav button {
		display: block;
	}
	.navbar ul li:first-child a {
		padding-left: 0px !important;
	}
	.navbar ul li:last-child a {
		padding-right: 0px !important;
	}
}
@media screen and (min-width: 1170px) {
}
@media screen and (min-width: 1200px) {
}
