/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.add_728_100 img {
	min-height: 100px;
}
.add_banner img {
	width: 100%;
	height: 100%;
}
