/* 
01--> header  start.
02--> feature area design.
03--> catagories section  start.
04--> about us area design.
05--> feature area design
06--> testimonials area design.
07--> why us area  desing.
08--> blog area section.
09--> footer area.
10--> footer section section area.
11--> _new_arival__area section area.
12--> _testimonials__area section area.
13--> _gifts__area section area.
14--> _footer__area section area.
10--> mobile responsive design from 320 to max....
*/

/* all page comon fonts  */

/* PT Serif
----------------
*/

/* @font-face {
	font-family: "PTSerif-Regular";
	src: url("../fonts/PTSerif-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "PTSerif-Bold";
	src: url("../fonts/PTSerif-Bold.ttf") format("truetype");
	font-weight: 700;
} */
html,
body {
	background-color: #fff;
	line-height: 1.5 !important;
	font-family: "Montserrat", sans-serif;
}
body,
html,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
button:focus,
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
}

/* mobile responsive design (10)

================================================================================================*/

@media screen and (min-width: 320px) {
	.slider-content {
		padding-top: 15px;
	}
	.slider-content h1 {
		font-size: 14px;
	}
	.home-slider .owl-nav {
		right: 41%;
		width: 80%;
		bottom: -30px;
	}
	.catagori-slider .owl-nav button {
		display: none;
	}
	#catagori_tab li a {
		padding: 15px 10px;
	}
	#catagori_tab li a h5 {
		font-size: 12px;
	}
	#catagori_tab li a h1 {
		font-size: 15px;
	}
	.about-us-contents a {
		font-size: 14px;
	}
	.testimonial-slider {
		margin-left: 0px;
	}
	.why-icon img {
		padding: 5px;
	}
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 576px) {
	.slider-content {
		padding-top: 46px;
	}
	.slider-content h1 {
		font-size: 22px;
	}
	.home-slider .owl-nav {
		right: 25%;
		width: 44%;
	}
}

@media screen and (min-width: 768px) {
	.slider-content {
		padding-top: 25px;
	}
	.slider-content h1 {
		font-size: 32px;
	}
	.home-slider .owl-nav {
		right: 25%;
		width: 37%;
	}
	#catagori_tab li a {
		padding: 15px 50px;
	}
	#catagori_tab li a h1 {
		font-size: 27px;
	}
	#catagori_tab li a h5 {
		font-size: 17px;
	}
	.about-us-contents a {
		font-size: 18px;
	}
	.testimonial-slider {
		margin-left: -75px;
	}
	.why-icon img {
		padding: 13px;
	}
}

@media screen and (min-width: 960px) {
}
@media screen and (min-width: 992px) {
	.slider-content h1 {
		font-size: 48px;
	}
	.home-slider .owl-nav {
		right: 25%;
		width: 26%;
	}
	.catagori-slider .owl-nav button {
		display: block;
	}
	.navbar ul li:first-child a {
		padding-left: 0px !important;
	}
	.navbar ul li:last-child a {
		padding-right: 0px !important;
	}
}
@media screen and (min-width: 1170px) {
}
@media screen and (min-width: 1200px) {
}
