/* 
00--> common css section
01--> header top section
02--> header section
03--> slider section
04--> well come section
05--> our service section
06--> FAQ SECTION
07--> contact  section
08--> newslatter sectio 
09--> footer section
10--> footer bottom
11--> mobile responsive design from 320 to max....
*/

/* all page comon fonts 
00--> common css section
---------------------------------------------
*/

@font-face {
	font-family: "Poppins-Light";
	src: url("../fonts/Poppins-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Poppins-Medium";
	src: url("../fonts/Poppins-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Poppins-Regular";
	src: url("../fonts/Poppins-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Poppins-SemiBold";
	src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Poppins-Bold";
	src: url("../fonts/Poppins-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Montserrat-Bold";
	src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Muli-ExtraBold";
	src: url("../fonts/Muli-ExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body,
html,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img {
	margin: 0;
	padding: 0;
}

.header-top-contents ul li a,
.single-service-text p {
	font-family: "Poppins-Light";
}
.header-top-contents a.get-qote-btn,
.wellcome-header.section-header h1,
.service-header.section-header h1,
.contact-header.section-header h1,
.faq-header.section-header h1,
.newslater-header.section-header h1,
h4.panel-title a,
.panel-body,
.single-service-heading h2 {
	font-family: "Poppins-SemiBold";
}
.header-menu ul li a,
.form-control,
.submit-btn span,
.newslater-header.section-header h3,
.footer-sub-header h2,
.contact-header.section-header h4 {
	font-family: "Poppins-Medium";
}
.slider-item-table-cell h1 {
	font-family: "Muli-ExtraBold";
}
.welcome-contents p,
.footer-contents ul li a,
.footer-bottom-contents h1,
.contact-contents p {
	font-family: "Poppins-Regular";
}
.wellcome-single-options h3 {
	font-family: "Montserrat-Bold";
}
/* 01--> header top section
--------------------------------------*/
#heade-top {
	position: relative;
}
span.color-bg {
	top: 0;
	right: 0;
	position: absolute;
	width: 72%;
	height: 60px;
	background-color: #180029;
}
.shape {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 60px solid #180029;
	border-left: 60px solid transparent;
	left: -60px;
	top: 0px;
}
.header-top-wrapper {
	position: relative;
}
.header-top-wrapper ::before {
}
.header-top-contents {
}
.header-top-contents ul li {
	display: inline;
	border-right: 2px solid #72667b;
}
.header-top-contents ul li:nth-last-child(-n + 2) {
	border-right: 0px transparent;
}
.header-top-contents ul li a {
	font-size: 12px;

	color: #ffffff;

	padding: 23px 28px;
	outline: none;
	text-decoration: none;
	z-index: 1;
	display: inline-block;
}
.header-top-contents a.get-qote-btn {
	background-color: #630aa2;
	color: #fff;
	font-size: 14px;
}
/* 02--> header section
---------------------------------------*/
a.navbar-brand.logo {
	position: relative;
}

a.navbar-brand.logo img {
	position: inherit;
	top: -33px;
}
.header-menu ul li a {
	font-size: 16px;
	color: #222222;
	display: inline-block;
	padding: 20px 28.5px;
}
.header-menu ul li a:hover {
	text-decoration: none;
}
.header-menu ul li a:focus {
	outline: none;
}
.header-menu ul li:last-child a {
	padding-right: 0px !important;
}
/* 03--> slider section
-----------------------------------------*/
section#slider-section {
	margin-bottom: 160px;
}
.slider-section-wrapper {
}
.slider-single-items {
	width: 100%;
	height: 870px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: aliceblue;
}
.slider-item-table {
	height: 870px;
	display: table;
}
.slider-item-table-cell {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.slider-item-table-cell h1 {
	font-size: 70px;
	text-transform: uppercase;
	font-weight: bold;

	color: #ffffff;
}
.slider-image-01 {
	background-image: url("../img/slider/slider-image-01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.slider-contents {
}
.slider-contents h2 {
}

/* 04--> well come section
---------------------------------------*/
section#wellcome-section {
	margin-bottom: 160px;
}
.wellcome-section-wrapper {
	position: relative;
}
.wellcome-section-image-bg {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 45%;
	background-image: url("../img/wellcome/wellcome-04.png");
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
}
.wellcome-content-wrapper {
	padding: 50px 58px;
}
.wellcome-header.section-header h1 {
	font-size: 40px;
	color: #253241;

	margin-bottom: 54px;
}
.welcome-contents {
	margin-bottom: 50px;
}
.welcome-contents p {
	color: #555555;
	font-size: 14px;

	line-height: initial;
}
.welcome-contents p:first-child {
	margin-bottom: 33px;
}
.wellcome-options-area {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.wellcome-options-area div {
	display: table-cell;
	text-align: center;
}
.wellcome-single-options {
	border-right: 1px solid #dddddd;
}
.wellcome-single-options:last-child {
	border-right: 0px transparent;
}
.wellcome-single-options img {
	margin-bottom: 37px;
}
.wellcome-single-options h3 {
	color: #253241;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.wellcome-header {
}
.section-header {
}
/* 05--> our service section
-------------------------------------- */
section#service-section {
	padding-bottom: 160px;
}
.service-header.section-header {
	margin-bottom: 98px;
}
.service-header.section-header h1 {
	color: #253241;
	font-size: 40px;
	text-transform: capitalize;
}
section#wellcome-section {
	margin-bottom: 169px;
}

.service-header.section-header h1 {
	color: #253241;
	font-size: 40px;
	text-transform: capitalize;
}

.service-header.section-header {
	margin-bottom: 83px;
}

.single-service-item {
	text-align: center;
	border: 2px solid #e3e6f4;
	padding: 0px 54px;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 385px;
}

.single-service-icon {
	margin-top: 100px;
	margin-bottom: 40px;
}

.single-service-heading {
	margin-bottom: 25px;
}

.single-service-text {
	margin-bottom: 94px;
}
.single-service-heading h2 {
	color: #253241;
	font-size: 20px;
}

.single-service-text p {
	font-size: 16px;
	color: #6a737e;
	line-height: initial;
}
/* 06--> FAQ SECTION
--------------------------------------- */

section#faq-section {
	padding: 140px 0px;
	background-color: #f6f6f6;
}

.faq-header.section-header h1 {
	color: #253241;
	font-size: 40px;
	text-transform: capitalize;
	margin-bottom: 50px;
}
.panel-title > a:before {
	float: right !important;
	font-family: FontAwesome;
	content: "\f106";
	padding-right: 5px;
}
.panel-title > a.collapsed:before {
	float: right !important;
	content: "\f107";
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus {
	text-decoration: none;
}

.panel.panel-default {
	border: 2px solid #cecece;
	margin-bottom: 10px;
}
.panel.panel-default.current {
	border: 2px solid #863bae !important;
}
.panel.panel-default:last-child {
	margin-bottom: 0px;
}

h4.panel-title {
	padding-top: 19px;
	padding-bottom: 17px;
	padding-left: 30px;
	padding-right: 37px;
}

h4.panel-title a {
	color: #444444;
	font-size: 15px;
}
.panel.panel-default.current h4.panel-title a {
	color: #863bae !important;
}
.panel-body {
	padding-left: 30px;
	padding-right: 37px;
	padding-bottom: 19px;
	line-height: initial;
	font-size: 14px;
	color: #666666;
}

/* 07--> contact  section
------------------------------------------ */
section#contat-section {
	padding-top: 160px;
	padding-bottom: 160px;
}

.contact-contents-wrapper {
	margin-top: 50px;
}
.contact-header.section-header h1 {
	color: #424242;
	font-size: 40px;
	margin-bottom: 20px;
}

.contact-header.section-header h4 {
	color: #863bae;
	text-transform: uppercase;
	font-size: 14px;
}

.contact-header.section-header {
	margin-bottom: 57px;
}

.contact-contents p {
	color: #818181;
	font-size: 16px;
	line-height: initial;
}

.contact-contents {
	margin-bottom: 40px;
}

.contact-social-icons {
}
.contact-social-icons a.icons-twitter {
	border-top: 43px solid #50bac3;
}
.contact-social-icons a.icons-facebook {
	border-top: 43px solid #e36955;
}
.contact-social-icons a.icons-pinterest {
	border-top: 43px solid #f1ae44;
}
.contact-social-icons a.icons-instagram {
	border-top: 43px solid #863bae;
}
.contact-social-icons a {
	border-left: 0px solid transparent;
	border-right: 14px solid transparent;
	height: 0;
	width: 45px;
	position: relative;
	margin-right: 15px;
}
.contact-social-icons a:last-child {
	margin-right: 0px;
}
.contact-social-icons a:focus {
	outline: none;
}
.contact-social-icons a i {
	position: absolute;
	top: -29px;
	left: 12px;
	font-size: 18px;
	color: #fff;
}

.contact-forms-wrapper textarea.form-control,
.contact-forms-wrapper input.form-control {
	padding-top: 27px;
	padding-left: 27px;
	padding-right: 27px;
	padding-bottom: 32px;
	/* border: 0px !important; */
	background-color: #f2f0ec;
}

.contact-forms-wrapper .form-row .col {
	padding-right: 10px !important;
	padding-left: 10px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.f-submit-btn {
	border: 0;
	background-color: transparent;
}
button.f-submit-btn:focus {
	outline: none !important;
}
.submit-btn {
	border-top: 63px solid #f1ae44;
	border-left: 0px solid transparent;
	border-right: 14px solid transparent;
	height: 0;
	width: 192px;
	position: relative;
	margin-right: 15px;
}
.submit-btn span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -38px;
	left: 0px;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
}
/* 08--> newslatter sectio 
------------------------------------------- */
.newslater-header.section-header h1 {
	font-size: 50px;
	margin-bottom: 20px;
	color: #fff;
}

section#newslater-and-footer-section {
	background-color: #0d181e;
	padding-top: 156px;
	padding-bottom: 100px;
}

.newslater-header.section-header h3 {
	color: #f1ae44;
	font-size: 14px;
	text-transform: uppercase;
}

.newslater-header.section-header {
	margin-bottom: 60px;
}

.newslatter-form-wrapper input.form-control {
	background-color: #343434;
	border: 0px !important;
	padding-top: 24px;
	padding-left: 27px;
	padding-bottom: 20px;
	padding-right: 27px;
	font-size: 14px;
	color: #bfbfbf;
	border-radius: 0 !important;
}
.newslater-section-contents {
	margin-bottom: 100px;
}

.footer-sub-header h2 {
	font-size: 24px;
	color: #fff;
	margin-bottom: 42px;
}

.footer-contents ul li a {
	color: #bfbfbf;
	font-size: 16px;
	display: block;
	margin-bottom: 27px;
	text-transform: capitalize;
}
.footer-contents ul li:last-child a {
}
.footer-contents ul li a:hover {
	color: #f1ae44;
}
.footer-contents ul li a:focus {
	outline: none;
}
/* 09--> footer section
----------------------------------------- */

/* 10--> footer bottom
---------------------------------- */
.footer-bottom-contents h1 {
	font-size: 16px;
	color: #bfbfbf;
}

.footer-bottom-wrapper {
	border-top: 1px solid #263035;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #0d181e;
}
/* 11--> mobile responsive design from 320 to max
--------------------------------------------------- */
@media screen and (min-width: 320px) {
	.header-top-contents {
		display: none;
	}
	section#header-section {
		padding-top: 59px;
	}
	a.navbar-brand.logo img {
		position: inherit;
		top: 0;
		height: auto;
		padding: 10px 16px;
	}
	.slider-single-items,
	.slider-item-table {
		height: 300px;
	}
	.slider-item-table-cell h1 {
		font-size: 28px;
	}
	.wellcome-section-image-bg {
		visibility: hidden;
	}
	.wellcome-content-wrapper {
		padding: 50px 0px;
	}
	.single-service-item {
		padding: 0px 0px;
	}
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 576px) {
	.header-top-contents {
		display: block;
	}
	.header-top-contents ul li a {
		font-size: 6px;
		padding: 23px 10px;
	}
	section#header-section {
		padding-top: 0px;
	}
	a.navbar-brand.logo img {
		position: inherit;
		top: 0px;
		height: auto;
		padding: 5px 0px;
		width: 60%;
	}
	.slider-single-items,
	.slider-item-table {
		height: 400px;
	}
	.slider-item-table-cell h1 {
		font-size: 35px;
	}
	.single-service-item {
		padding: 0px 0px;
	}
}
@media screen and (min-width: 768px) {
	.header-top-contents ul li a {
		font-size: 9px;
	}
	section#header-section {
		padding-top: 0px;
	}
	a.navbar-brand.logo img {
		position: inherit;
		top: -23px;
		height: auto;
		padding: 5px 0px;
		width: 64%;
	}
	.wellcome-section-image-bg {
		visibility: visible;
	}
}

@media screen and (min-width: 992px) {
	.header-top-contents ul li a {
		font-size: 12px;
	}
	a.navbar-brand.logo img {
		position: inherit;
		top: -33px;
		height: auto;
		padding: 5px 0px;
		width: 100%;
	}
	.slider-single-items,
	.slider-item-table {
		height: 600px;
	}
	.slider-item-table-cell h1 {
		font-size: 50px;
	}
	.single-service-item {
		padding: 0px 25px;
	}
}
@media screen and (min-width: 1200px) {
	.header-top-contents ul li a {
		font-size: 12px;
		padding: 23px 28px;
	}
	.slider-single-items,
	.slider-item-table {
		height: 870px;
	}
	.slider-item-table-cell h1 {
		font-size: 79px;
	}
}
