@media screen and (max-width: 575px) {
	    #ed-59370137>.background-image-holder:not(.ed-lazyload) {
	        background-image: url('https://cdn4.site-media.eu/images/576/2447334/pexels-photo-545034.jpg') !important;
	    }
	}

	@media screen and (max-width: 975px) {
	    #ed-59370137>.background-image-holder:not(.ed-lazyload) {
	        background-image: url('https://cdn4.site-media.eu/images/976/2447334/pexels-photo-545034.jpg') !important;
	    }
	}

	#ed-61151522 {
	    flex-basis: auto;
	    order: 0;
	}

	@media screen and (max-width: 975px) {
	    #ed-61151522>.inner {
	        justify-content: space-between;
	    }
	}

	@media screen and (max-width: 575px) {
	    #ed-61151522 {
	        margin: 0px 6px;
	    }
	}

	#ed-61151522 {
	    flex-basis: auto;
	    order: 0;
	}

	@media screen and (max-width: 975px) {
	    #ed-61151522>.inner {
	        justify-content: space-between;
	    }
	}

	@media screen and (max-width: 575px) {
	    #ed-61151522 {
	        margin: 0px 6px;
	    }
	}

	#ed-61151516>.inner {
	    align-items: center;
	    place-content: center;
	}

	#ed-61151531 {
	    margin: 0px 0px 0px 6px;
	    flex-basis: auto;
	    order: 0;
	}

	#ed-61151531 {
	    margin: 0px 0px 0px 6px;
	    flex-basis: auto;
	    order: 0;
	}

	#ed-61151525>.inner {
	    align-items: center;
	    justify-content: flex-end;
	}

	#ed-59370149 {
	    flex-grow: 1;
	    flex-basis: auto;
	}

	#ed-59370149>.inner {
	    place-content: center flex-end;
	    align-items: center;
	}

	@media screen and (max-width: 575px) {
	    #ed-59370149>.inner {
	        justify-content: center;
	    }
	}

	#ed-61151513>.inner {
	    place-content: center flex-start;
	    align-items: center;
	}

	@media screen and (max-width: 575px) {
	    #ed-61151513>.inner {
	        justify-content: center;
	    }
	}

	@media screen and (max-width: 975px) {
	    #ed-61151513>.inner {
	        align-items: center;
	        align-content: center;
	    }
	}

	#ed-91248337 img {
	    width: 220px;
	}

	#ed-91248337 {
	    flex-basis: auto;
	}

	@media screen and (max-width: 975px) {
	    #ed-91248337 {
	        flex-basis: 100%;
	        text-align: center;
	        margin: 0px 0px 1rem;
	    }
	}

	#ed-91248531 {
	    flex-basis: auto;
	    flex-grow: 1;
	}

	#ed-91248346 {
	    margin: auto 1rem auto auto;
	}

	@media screen and (max-width: 975px) {
	    #ed-91248346 {
	        margin: auto 1rem auto 0rem;
	    }
	}

	#ed-91248343 {
	    flex-grow: 1;
	    flex-basis: auto;
	}

	#ed-91248343>.inner {
	    place-content: center flex-end;
	    align-items: center;
	}

	@media screen and (max-width: 975px) {
	    #ed-91248343 {
	        flex-basis: 100%;
	    }
	}

	@media screen and (max-width: 975px) {
	    #ed-91248343>.inner {
	        justify-content: space-around;
	    }
	}

	#ed-91248334>.inner {
	    justify-content: space-between;
	    align-items: center;
	}

	#ed-59370191 .space {
	    height: 3rem;
	}

	#ed-59370197 {
	    flex-basis: auto;
	}

	@media screen and (max-width: 575px) {
	    #ed-59370197 h2 {
	        text-align: center;
	    }
	}

	@media screen and (max-width: 575px) {
	    #ed-59370197 {
	        flex-basis: 100%;
	    }
	}

	#ed-59370200 {
	    flex-basis: auto;
	    margin: 0px 0px 0px 2rem;
	}

	@media screen and (max-width: 575px) {
	    #ed-59370200 {
	        margin: auto;
	    }
	}

	#ed-59370194>.inner {
	    justify-content: center;
	    align-items: center;
	}

	#ed-59370203 .space {
	    height: 3rem;
	}

	#ed-59370209 {
	    flex-basis: auto;
	}

	#ed-59370206>.inner {
	    place-content: center;
	    align-items: center;
	}

	#ed-59370185>.inner {
	    align-content: center;
	    flex-flow: row wrap;
	}

	#ed-59370185 {
	    flex-basis: auto;
	    order: 0;
	    flex-grow: 1;
	}

	#ed-59370134 {
	    min-height: 100vh;
	}

	#ed-59370134>.inner {
	    align-content: stretch;
	    flex-direction: column;
	}

	#ed-59384928 img {
	    width: 20px;
	}

	#ed-59369660>.inner {
	    place-content: flex-start center;
	    align-items: stretch;
	}

	#ed-59369675>.inner {
	    place-content: flex-start center;
	    align-items: stretch;
	}

	#ed-59369690>.inner {
	    place-content: flex-start center;
	    align-items: stretch;
	}

	#ed-59369705>.inner {
	    place-content: flex-start center;
	    align-items: stretch;
	}

	#ed-59369720>.inner {
	    place-content: flex-start center;
	    align-items: stretch;
	}

	#ed-59369735>.inner {
	    place-content: flex-start center;
	    align-items: stretch;
	}

	#ed-59370215 .background-image-holder {
	    background-position: center bottom;
	}

	@media screen and (max-width: 575px) {
	    #ed-59370215>.background-image-holder:not(.ed-lazyload) {
	        background-image: url('https://cdn4.site-media.eu/images/576/2447592/pexels-photo-707581.jpg') !important;
	    }
	}

	@media screen and (max-width: 975px) {
	    #ed-59370215>.background-image-holder:not(.ed-lazyload) {
	        background-image: url('https://cdn4.site-media.eu/images/976/2447592/pexels-photo-707581.jpg') !important;
	    }
	}

	#ed-7559808 img {
	    width: 20px;
	}

	#ed-59369762 .space {
	    height: 2rem;
	}

	#ed-59369768 .space {
	    height: 2rem;
	}

	#ed-59369777 .space {
	    height: 2rem;
	}

	#ed-59370330 .space {
	    height: 2rem;
	}

	#ed-59369756 {
	    flex-shrink: 1;
	}

	#ed-59369822 .space {
	    height: 2rem;
	}

	#ed-59369828 .space {
	    height: 2rem;
	}

	#ed-59369837 .space {
	    height: 2rem;
	}

	#ed-59370333 .space {
	    height: 2rem;
	}

	#ed-59369816 {
	    flex-shrink: 1;
	}

	#ed-59369882 .space {
	    height: 2rem;
	}

	#ed-59369888 .space {
	    height: 2rem;
	}

	#ed-59369897 .space {
	    height: 2rem;
	}

	#ed-59370336 .space {
	    height: 2rem;
	}

	#ed-59369876 {
	    flex-shrink: 1;
	}

	#ed-59384931 img {
	    width: 20px;
	}

	#ed-59369951 {
	    flex-basis: auto;
	}

	#ed-59369984 {
	    flex-basis: auto;
	}

	#ed-59370017 {
	    flex-basis: auto;
	}

	#ed-59370050 {
	    flex-basis: auto;
	}

	#ed-59370083 {
	    flex-basis: auto;
	}

	#ed-59370116 {
	    flex-basis: auto;
	}

	@media screen and (max-width: 575px) {
	    #ed-59370236>.background-image-holder:not(.ed-lazyload) {
	        background-image: url('https://cdn4.site-media.eu/images/576/2447676/pexels-photo-271639.jpg') !important;
	    }
	}

	@media screen and (max-width: 975px) {
	    #ed-59370236>.background-image-holder:not(.ed-lazyload) {
	        background-image: url('https://cdn4.site-media.eu/images/976/2447676/pexels-photo-271639.jpg') !important;
	    }
	}

	#ed-7562721 img {
	    width: 20px;
	}

	#ed-80083255 {
	    flex-basis: 100%;
	}

	#ed-59370239>.inner {
	    justify-content: space-between;
	}

	#ed-59370287 img {
	    width: 300px;
	}

	#ed-59370290 .space {
	    height: 3rem;
	}

	@media screen and (max-width: 975px) {
	    #ed-59370284>.inner {
	        justify-content: center;
	    }
	}

	#ed-59370329 .map-canvas {
	    height: 360px;
	}

