/* 
01--> header section  start.
02--> home slider section design.
03--> service section design start.
04--> about us section design.
05--> testimonials section design
06--> COMMITMENT SECTION design.
07--> germents section desing.
08--> contact section.
09--> footer section area.
10--> mobile responsive design from 320 to max....
*/

/* all page comon fonts  */

@font-face {
	font-family: "Open Sans", sans-serif;
	src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
	src: url("../fonts/OpenSans-Light.ttf") format("truetype");
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
	src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
	src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}
body,
html,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
}

/* header section  start  (01)
=====================================================
*/

#header-section {
	height: 99px;
}

/* nav design  */
nav.bg-color {
	background-color: #0970cd;
}

/* site logo  */
.logo {
	padding: 18px 0px 16px 0px;
}
.logo img {
	width: 100%;
	height: auto;
}
/* menu design  */

.main-menu ul li a {
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}
.main-menu ul li:last-child a {
	padding-right: 0px;
}

/* toggle button for mobile  */

.toggle-btn-margin {
	margin-right: 15px !important;
}

/* home slider section design  (02) 
==============================================
 */

.carousel-indicators {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 1;
	display: -webkit-box !important;
	margin-left: 0% !important;
}
.carousel-indicators li {
	width: 8px;
	height: 8px;
	background-color: #dfe0e0;
	display: inline-block;
	border-radius: 50%;
	margin: 0px 6px;
}
.carousel-indicators li.active {
	background-color: #0970cd;
}

#slider-section img {
	width: 100%;
	height: 100%;
}

/* service section design start (03)
=====================================
*/
#service-section {
	/* margin-top: 152px; */
	padding-top: 152px;
}
.service-heading-row {
	margin-bottom: 112px;
}
h1.section-heading {
	color: #28395a;
	font-weight: 700;
	text-transform: capitalize;
}

.service-content h1 {
	color: #202020;
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 600;
}

.service-content p {
	color: #6f6f6f;
	font-size: 13px;
	font-weight: 400;
}

/* single sirvice items design  */
.single-service-item {
	margin-bottom: 47px;
}

.service-img {
	margin-right: 30px;
}

/* about us section design (04)
==========================================
*/
#about-us-section {
	padding-top: 105px;
}
.about-us-slider-heading h1,
.about-us-content-heading h1 {
	color: #28395a;
	font-size: 35px;
	font-weight: 700;
}

.about-us-slider-heading,
.about-us-content-heading {
	margin-bottom: 41px;
}
.about-carousel .item h4 {
	font-size: 18px;
	color: #33384e;
	font-weight: 600;
	margin-top: 20px;
	text-transform: capitalize;
	margin-bottom: 12px;
}

.about-carousel .item p {
	color: #7a8290;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 400;
}
.about-carousel .owl-nav {
	display: block;
	text-align: center;
	margin-top: 50px;
}

.about-carousel .owl-nav button:focus {
	outline: 0px transparent;
}
.about-carousel .owl-nav button span {
	width: 45px;
	height: 45px;
	display: inline-block;
	background-color: #f8f8f8 !important;
	font-size: 30px;
	line-height: 45px;
	color: #e0e0e0;
	margin: 0px 5px;
}
.about-carousel .owl-nav button:hover span {
	color: #3981ff;
	background-color: #e0f6ff !important;
	transition: 0.3s ease-in;
}

.about-us-contents p {
	color: #7a8290;
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 1.7;
}
.read-more-button {
	margin-top: 50px;
	display: flex;
}
.read-more-btn {
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	padding: 25px 44px;
	border-radius: 3px;
	background-color: #0970cd;
}
.read-more-btn:hover {
	text-decoration: none;
	color: #ffffff;
}

/* testimonials section design (05)
========================================

*/
#testimonials-area {
	height: 700px !important;
	margin-top: 111px;
}
.testimonials-carousel .owl-nav.disabled {
	display: block !important;
}
.testimonials-carousel .owl-nav button {
	left: 35px;
	position: absolute;
	text-align: center;
	transform: translate(53%, -50%);
}
.testimonials-carousel .owl-nav button.owl-next {
	left: auto;
}
.custom-arrow-left:before {
	content: url("../img/arrowsleft.png");
	position: absolute;
	width: 35px;
	height: 35px;
}
.custom-arrow-right::before {
	content: url("../img/arrowsright.png");
	position: absolute;
	width: 35px;
	height: 35px;
}
.testimonials-carousel .owl-nav button:focus {
	outline: none !important;
}

.bg-image-1 {
	background-image: url("../img/testimonial.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 690px;
}
.overlay {
	height: 100%;
	width: 100%;
	display: table;
	text-align: center;
	background-color: rgba(44, 45, 59, 0.6);
}
.table-cell {
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
.testimonial-contents img {
	width: 70px !important;
	height: 50px;
	margin: 0 auto;
	color: #0970cd;
	margin-bottom: 38px;
}

.testimonial-contents p {
	color: #ffffff;
	font-weight: 400;
	margin-bottom: 50px;
	line-height: 1.7;
}
.testimonial-contents h4 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 16px;
	color: #ffffff;
}
.testimonial-contents h5 {
	font-size: 14px;
	font-weight: 400;
	color: #0970cd;
}

/* COMMITMENT SECTION design (06)
=======================================
*/

#commitment-section {
	padding-top: 100px;
}
.commitment-section-img img {
	width: 100%;
	height: 100%;
}
.commitment-section-content h1 {
	color: #28395a;
	font-weight: 700;
	margin: 35px 0px;
	text-transform: capitalize;
}
.single-contents {
	margin-left: 50px;
	margin-bottom: 40px;
}
.single-contents h2 {
	position: relative;
	color: #1e1e27;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
}
.single-contents h2::before {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #0970cd;
	content: "";
	margin-left: -50px;
	top: 50%;
	transform: translate(0%, -50%);
}
.single-contents p {
	color: #5a596a;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
}

/* germents section desing  (07)
=====================================
*/
#germents-care {
	padding-top: 110px;
}
#germents-care .service-heading-row {
	margin-bottom: 56px;
}
.germent-contents {
	background-color: #eef7ff;
	width: 100%;
	height: 185px;
	text-align: center;
	display: table;
	border: 1px solid #9acfff;
	margin-bottom: 15px;
}
.germent-contents-cell {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.germent-contents-cell p {
	color: #1e1e27;
	font-weight: 600;
	line-height: 1.7;
}
/* contact section 08
===========================
*/

#contact-section {
	padding-top: 100px;
}
.contact-wrapper {
	background-color: #000000;
	padding: 60px 0px;
}
.contact-wizerd h2 {
	font-weight: 600;
}
.contact-wizerd-btn a {
	color: #ffffff;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	padding: 18px 35px;
	display: block;
	background-color: #0970cd;
}

.contact-wizerd-btn a:hover {
	color: #ffffff;
	text-decoration: none;
}

/* footer section area (09)
========================
*/

#footer-section {
	background-color: #11161a;
	padding-top: 128px;
	padding-bottom: 85px;
}

.footer-wizerd h1 {
	font-size: 22px;
	font-weight: 600;
	color: #ffffff;
	margin-bottom: 25px;
}
.footer-wizerd p {
	color: #7a7a7a;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
}
.footer-wizerd p strong {
	color: #ffffff;
	font-weight: 600;
}
.footer-wizerd img {
	margin-right: 17px;
	margin-bottom: 17px;
	cursor: pointer;
}

.social-icons {
	margin-top: 35px;
}

.social-icons span i {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #ffffff;
	border-radius: 50%;
	color: #000000;
	margin: 0px 7.5px;
}

#footer-bottom {
	background-color: #121212;
}

#footer-bottom p {
	font-size: 14px;
	color: #7a7a7a;
	font-weight: 600;
	text-align: center;
	display: block;
	padding-top: 22px;
	padding-bottom: 19px;
}

/* mobile responsive design (10)

================================*/

@media screen and (min-width: 320px) {
	.main-menu ul li a {
		padding: 10px 22.5px;
		display: block;
	}
	.contact-wizerd h2 {
		font-size: 23px;
		margin-bottom: 20px;
		color: #ffffff;
	}
	h1.section-heading {
		font-size: 30px;
	}
	.commitment-section-content h1 {
		font-size: 30px;
	}
	.testimonials-carousel .owl-nav button {
		top: 90%;
	}
	.testimonials-carousel .owl-nav button.owl-next {
		right: 70px;
	}
	.testimonial-contents p {
		font-size: 16px;
	}
	.germent-contents-cell p {
		font-size: 13px;
	}
}

@media screen and (min-width: 480px) {
	.contact-wizerd h2 {
		font-size: 23px;
		margin-bottom: 20px;
		color: #ffffff;
	}
}

@media screen and (min-width: 768px) {
	.contact-wizerd h2 {
		font-size: 40px;
		margin-bottom: 0px;
		color: #ffffff;
	}
	h1.section-heading {
		font-size: 45px;
	}
	.commitment-section-content h1 {
		font-size: 45px;
	}
	.main-menu ul li a {
		padding: 0px 22.5px;
	}
	.testimonials-carousel .owl-nav button {
		top: 50%;
	}
	.testimonials-carousel .owl-nav button.owl-next {
		right: 70px;
	}
	.germent-contents-cell p {
		font-size: 10px;
	}
	.social-icons span i {
		margin: 0px 3.5px;
	}
	.footer-wizerd img {
		margin-right: 10px;
		margin-bottom: 10px;
		width: 35px;
	}
}

@media screen and (min-width: 960px) {
	.testimonial-contents p {
		font-size: 13px;
	}
	.germent-contents-cell p {
		font-size: 13px;
	}
	.footer-wizerd img {
		margin-right: 3px;
		margin-bottom: 6px;
		width: 44px;
	}
}
@media screen and (min-width: 992px) {
	.footer-wizerd img {
		margin-right: 10px;
		margin-bottom: 10px;
		width: 54px;
	}
}
@media screen and (min-width: 1171px) {
	.testimonial-contents p {
		font-size: 16px;
	}
	.germent-contents-cell p {
		font-size: 16px;
	}
	.footer-wizerd img {
		margin-right: 10px;
		margin-bottom: 10px;
		width: 54px;
	}
}
